body{
  margin: 0;
}
.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(133,133,133,1);
-moz-box-shadow: 3px 0px 5px 0px rgba(133,133,133,1);
box-shadow: 3px 0px 5px 0px rgba(133,133,133,1);
}

.side-bar a {
    cursor: pointer;
}

.connected-users {
    margin-top: 1em ;

}

.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 200px;
  bottom: 0;
  right : 220px;
}

.chatbox .head {
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(to top, #333333, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding:7px;
	color: #ffffff;
	border-radius: 5px 5px 0px 0px;
}

.chatbox .content {
  position: relative;
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:200px;
	overflow-y:auto;
	overflow-x:auto;
	padding:0px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
  position : relative;
}
.chat-on{
  position: absolute;
  bottom : 0 ;
}
.chat-on input{
  width:74%;
}
.chat-messages{

  margin-bottom: 22px;
  overflow: scroll;
  overflow-x: auto;
  height:85%;
  padding: 5px;
}
.chatbox .input {
  position: absolute;
  bottom: 0;
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatbox .textarea {
	width: 283px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.chatbox .options {
	float: right;
}

.chatbox .options a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatbox .title {
	float: left;
}
	.chatbox .title img {
	   float: left;
	   height: 25px;
	   margin-right: 7px;
	   margin-top: -2px;
	   width: 25px;
	   border-radius: 3px 3px 3px 3px;
	   box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}

@media only screen and (max-width : 10px)
          {
              .chat-sidebar
              {
                  display: none !important;
              }

              .chat-popup
              {
                  display: none !important;
              }
          }

          body
          {
              background-color: #e9eaed;
          }

          .chat-sidebar
          {
              width: 200px;
              position: fixed;
              height: 100%;
              right: 0px;
              top: 0px;
              padding-top: 10px;
              padding-bottom: 10px;
              border: 1px solid rgba(29, 49, 91, .3);
          }

          .sidebar-name
          {
              padding-left: 10px;
              padding-right: 10px;
              margin-bottom: 4px;
              font-size: 12px;
          }

          .sidebar-name span
          {
              padding-left: 5px;
          }

          .sidebar-name a
          {
              display: block;
              height: 100%;
              text-decoration: none;
              color: inherit;
          }

          .sidebar-name:hover
          {
              background-color:#e1e2e5;
          }

          .sidebar-name img
          {
              width: 32px;
              height: 32px;
              vertical-align:middle;
          }

          .popup-box
          {
              display: none;
              position: fixed;
              bottom: 0px;
              right: 220px;
              height: 285px;
              background-color: rgb(237, 239, 244);
              width: 300px;
              border: 1px solid rgba(29, 49, 91, .3);
          }

          .popup-box .popup-head
          {
              background-color: #6d84b4;
              padding: 5px;
              color: white;
              font-weight: bold;
              font-size: 14px;
              clear: both;
          }

          .popup-box .popup-head .popup-head-left
          {
              float: left;
          }

          .popup-head-right
          {
              float: right;
              cursor: pointer;
          }

          .popup-box .popup-head .popup-head-right a
          {
              text-decoration: none;
              color: inherit;
          }

          .popup-box .popup-messages
          {
              height: 100%;
              overflow-y: scroll;
          }



#chat-room-content{
          	border: 1px solid black;
          	margin: auto;
          	height : 300px;
          	width: 500px;
          	position: relative;
          	background: white;
          	border-radius: 5px;
          	margin-top: 1em;

          }

          .chat-room-input-wrapper{
          	margin-bottom: 5px;
          	position: absolute;
          	width: 100%;
          	bottom: 0;
          	border-top: 1px solid black;
          }
          .chat-room-input{
          	-webkit-appearance:none ;
          	margin-bottom: 3px !important;
          	width: 98%;
          	padding: 0px !important;
          	border: 0px;

          	height: 1.8em;
          	margin-left: 5px;
          }
          .chat-room-input:focus{
          	-webkit-appearance: none !important;
          	outline: none;

          }
          .chat-room-title{
          	text-align : center;
          	padding: 10px;
          }
          .chat-room-input-wrapper{
            position: relative;
          }
          .chat-room-text{
            position: absolute;
            bottom : 0;
          	padding: 10px;
          }
